html, body, #map { width:100%; height:100%; margin:0; padding:0; z-index: 1; background: #000; }
.leaflet-control { user-select: none;}
.found { opacity: 30%; }
.hidden { visibility: hidden; }

path { opacity: 50% }
path.found {opacity: 100%}

path[alt=''] { opacity: 100% }

.leaflet-control-search .search-input {
  width: 230px;
}

.leaflet-control-search .search-tooltip {
  width: 285px;
  max-height: 207px;
  margin-top: 2px;
}

.leaflet-control-search .search-tip {
  margin: 1px;
  border-radius: 1px;
}

.search-tip-select {
  background: #fff;
}

.leaflet-control-toolbar .leaflet-toolbar-1>li>.leaflet-toolbar-icon {
  //background-color:#f4f4f4;
  //color: #333;
}

